html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  margin: 0 auto;
  width: 100%;
}

/*header {}
*/
header h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 10vw;
  font-weight: 900;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: #1b1b1b;
  background-color: #1b1b1b;
  color: none;
  margin: 0;
  padding: 4vw;
}

#navbar {
  display: grid;
  place-items: center;
  background-color: #1b1b1b;
}

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list-item {
  display: inline-block;
}

.nav-link {
  display: block;
  padding: 2vw 3.5vw 2vw 3.5vw;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-bottom: 0.5vw solid #1b1b1b;
}
.nav-link:hover {
  border-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + main {
  padding-top: 6vh;
}

/*#new-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw;
    
}
*/
.container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;
}

.col {
  flex-basis: 0;
  flex: 20%;
  max-width: 60%;
  margin: 2%;
  padding: 1.5vw;
}

.movie-card {
  background-color: #f2f2f2;
  border-radius: 1.5vw 4vw;
  box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2),
    0 0.6vw 2vw 0 rgba(0, 0, 0, 0.19);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.movie-image {
  margin-top: 0.5vw;
  border-radius: 1.5vw 4vw;
  width: 100%;
}
.movie-bio {
  font-size: 0.9em;
}
.movie-title {
  font-size: 1em;
}

footer {
  margin-top: 1vw;
  padding: 5vw 0vw;
  background-color: #1b1b1b;
  text-align: center;
  color: white;
}

.about-info {
  text-align: center;
  padding: 0px 1% 0px 1%;
}

.contact-title {
  margin: 2%;
}

.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
}

.contact-card {
  background-color: #1b1b1b;
  text-align: center;
  border-radius: 10%;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2),
    0 0.6vw 2vw 0 rgba(0, 0, 0, 0.19);
}

.contact-img {
  border-radius: 50%;
  max-width: 75%;
  margin-top: 1vw;
  border: none;
}
.contact-info {
  color: white;
}

.form-section input,
select {
  margin-bottom: 10px;
}

.form-section {
  width: 600px;
  margin: 50px auto;
  text-align: center;
  color: black;
  background-color: #e2e2e2;
  border-radius: 1.5vw 4vw;
  box-shadow: 15px 15px 10px rgb(114, 114, 114);
}
.movie-form {
  padding: 20px;
}

h2 {
  text-align: center;
}

.success-popup {
  color: black;
  background-color: #4caf50;
  border-radius: 6px;
  border: 3px solid black;
  padding: 5px;
  margin: 10px 20%;
}

input[type="text"],
select {
  width: 50%;
  padding: 6px 8px;
  margin: 3px 0px 8px 0px;
  border: 3px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 40%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  border: 3px solid black;
}

button[type="submit"]:hover {
  background-color: #d1d1d1;
}

textarea {
  width: 50%;
  height: 100px;
  padding: 6px 8px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 992px) {
  .col {
    flex: 50%;
  }
  .contact-us {
    grid-template-columns: 1fr;
  }
  header h1 {
    font-size: 15vw;
  }
  .form-section {
    max-width: 60%;
    min-width: 50%;
    margin: 7% auto;
    text-align: center;
    color: black;
    background-color: #e2e2e2;
    border-radius: 1.5vw 4vw;
    box-shadow: 15px 15px 10px rgb(114, 114, 114);
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .contact-us {
    grid-template-columns: 1fr;
  }
  header h1 {
    font-size: 15vw;
  }
  .form-section {
    max-width: 75%;
    min-width: 350px;
    margin: 50px auto;
    text-align: center;
    color: black;
    background-color: #e2e2e2;
    border-radius: 1.5vw 4vw;
    box-shadow: 15px 15px 10px rgb(114, 114, 114);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
